body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:#EAE7DE;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#EAE7DE;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.pb-2x{
    padding-bottom:20px;
}
#addImageBtn{
    margin-top:15px;
}
.photo-item{
    padding-top:15px;
    position:relative;
}

.products .photo-item{
    padding-top:0px;
    position:relative;
    overflow: hidden;
    z-index:10;
}

.products .photo-item img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: none;
    transition:none;
}
.products .photo-item .hover-mask{
    position: absolute;
    padding:0px;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    bottom:20px;
    background:#509B9E;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.products .photo-item .hover-mask .item-title{
    color:#fff;
    margin:70px 0 0;
    padding:10px;
    font-size:26px;
    line-height:34px;
    font-weight:400;
    text-align:center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}
.products .photo-item .hover-mask p{
    color:#fff;
    margin:0;
    font-size:16px;
    line-height:24px;
    font-weight:400;
    text-transform:uppercase;
    text-align:center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
.productsContainer{
    background-image: url("images/bg.jpg")
}

.products .photo-item:hover{
    cursor:pointer;
}

.products .photo-item:hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: -webkit-transform 4s ease-in;
  transition: transform 4s linear;
}
.products .photo-item:hover .hover-mask {
  opacity: .55;
  filter: alpha(opacity=55);
}
.products .photo-item:hover .hover-mask .item-title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.products .photo-item:hover .hover-mask p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s;
}

.products .photo-item .caption{
    padding-bottom:0px;
}

#photoView thumbnail{
    position:relative;
}

#photoView i{
    color:gray;
    margin:2px 2px 0 3px;
    width:16px;
    height:16px;
    display:block;

}

.photo-item .thumbnail{
    padding:0px;
}

.thumbnail > img{
    height:210px;
}

.icon-container{
    width:20px;
    height:20px;
    background-color:white;
    position:absolute;
    top:22px;
    right:22px;
    display:none;
}
.icon-container:hover{
    cursor:pointer;
}

.photo-dropdown{
    position:absolute;
    top:40px;
    right:22px;
    background-color:white;
    display:none;
}

.photo-dropdown ul{
    padding:1px;
    margin-bottom:5px;
}
.photo-dropdown ul li{
    list-style:none;
    padding: 5px;

}

.photo-dropdown ul li i{
    display:inline !important;
} 
.photo-dropdown ul li:hover{
    background-color:#5caae6;
    color:white;
    cursor:pointer;
} 

.photo-dropdown .glyphicon{
    
}

.mt-xl{
    margin-top:20px;
}
.p0{
    padding:0px !important;
}

.body-wrapper{
    min-height: 100%;/* IE6 hack*/

    height: auto!important;/* height优先级 */

    height: 100%;

    margin: 0 auto -150px;/* 负值必须等于footer的高度 */
}

.body-footer{
        margin-top: 100px;
    height:150px;
    background-color:white;
    padding:0px 0px 50px 0px;
}

.wrapper-clear{
    height:100px;
    clear:both;
}
.chinese-bg{
    background-image:url("images/chinese-bg4.jpg");
}
.landing-hr{
    border-color:#BFD5CA ;
}
.landing-hr-bold{
    border-top:3px solid #F0A5A0 !important;
}

.landing-hr-bold-grey{
    border-top:3px solid #e7e7e7;
}

.products-bg{
    background-image:url("images/chinese-bg4.jpg")
}
    .bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

    h2 {
            color: #444;
    font-size: 28px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    }

    .contacts-in ul {
    margin-top: 20px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.contacts-in li {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 200;
}
.group-title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #dff0d8;
    padding: 10px;
    line-height: 2;
}

.headline-left {
    position: relative;
}


.headline-brd {
    color: #555;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
    margin-left: 40%;
}

.feature-title {
    float: left;
    clear: both;
    margin-right: 5px;
    font-weight: normal;
    font-size: 13px;
}

.feature-value {
    float: left;
}