@{
    Layout = "../Shared/_Layout.cshtml";
}
<!-- Header -->
<a name="about"></a>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

