@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
    <div class="container content-lg">
        <h2>联系我们</h2>
        <hr />
        <div class="title-v1">
            <p class="bg-primary">
                您可以致电或者来店铺与我们详谈。 <br>
                您也可以选择给我们留言，我们会在不久后联系您。(后台开发中，暂未开放)
            </p>
        </div>

        <div class="row contacts-in">
            <div class="col-md-6 md-margin-bottom-40">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home">地址&nbsp;&nbsp;</i> 苏州市 项王路 项王玉器城 XXX号</li>
                    <li><i class="fa fa-phone">电话&nbsp;&nbsp;</i> 152-6258-2851</li>
                    <li><i class="fa fa-envelope">邮箱&nbsp;&nbsp;</i> info@example.com</li>
                    <li><i class="fa fa-globe">网址&nbsp;&nbsp;</i> <a href=""> www.pinyuwu.com</a></li>
                    <li><i class="fa fa-globe">微信&nbsp;&nbsp;</i> gjh727 扫描二维码添加好友</li>
                    <li>
                        <i class="fa fa-globe">&nbsp;&nbsp;</i><img class="img-rounded" height="300" width="300" src="~/Content/images/wechat_pic.png" />
                    </li>
                </ul>

            </div>

            <div class="col-md-6">
                <form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style" novalidate="novalidate">
                    <fieldset>
                        <label>称呼</label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="name" id="name" disabled="disabled" class="form-control">
                                </div>
                            </div>
                        </div>

                        <label>电话 <span class="color-red">*</span></label>
                        <div class="row">
                            <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <input type="text" name="email" id="email" disabled="disabled" class="form-control">
                                </div>
                            </div>
                        </div>

                        <label>留言</label>
                        <div class="row">
                            <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" id="message" disabled="disabled" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                    <p><button type="submit" class="btn btn-primary" disabled="disabled">留言</button></p>
                    @*<div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div>*@
                </form>
            </div>
        </div>
    </div>
 </div>
