@{
    Layout = "../Shared/_Layout.cshtml";
}
<!-- Header -->
<a name="about"></a>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <address>
                        苏州市相王路138-2姑苏饭店对面<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>欢迎随时联系我</h2>
            </div>
            <div class="col-lg-6">
                <h2>186 xxxx xxxx</h2>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>