@{
    Layout = "../Shared/_Layout.cshtml";
}

<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">和田玉</h2>
                <p class="lead">和田玉是中华民族的瑰宝，是中国的“国石”。它象一颗明珠，在中国历史文化中放射出灿烂的光辉，是中华民族道德精神的重要象征之一。</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/images/hetianyu.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">岫岩玉</h2>
                <p class="lead">岫岩玉以产于辽宁省鞍山市岫岩满族自治县而得名，为中国历史上的四大名玉之一。广义上可以两类，一类是老玉（亦称黄白老玉），老玉中的籽料称作河磨玉，属于透闪石玉，其质地朴实、凝重、色泽淡黄偏白，是一种珍贵的璞玉。另一类是岫岩碧玉（亦称瓦沟玉引）属蛇纹石类矿石，其质地坚实而温润，细腻而圆融，多呈绿色至湖水绿，其中以深绿、通透少瑕为珍品。</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/images/youyanyu.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">独山玉</h2>
                <p class="lead">独山玉是中国四大名玉之一，有南阳翡翠之称，是一种重要的玉雕材料 。产于河南南阳的独山，也称“南阳玉”或“河南玉”，也有简称为“独玉”的。独山是距中国历史文化名城南阳最近的省级森林公园，国家矿山公园和旅游风景区，出产独玉。</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/images/dushanyu.jpg" alt=" ">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->