@{
    ViewBag.Title = "品玉屋";
    Layout = "../Shared/_Layout.cshtml";
}

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>品玉屋</h1>

                    <hr class="intro-divider">
                    <h3>苏州市相王路项王玉器城</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
