@{
    ViewBag.Title = "品玉屋";
    Layout = "../Shared/_Layout.cshtml";
}

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>品玉屋</h1>

                    <hr class="intro-divider">
                    <h3>苏州市项王路项王玉器城</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">玉雕名家一<br>苏州玉雕工艺美术大师</h2>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;其作品构思巧妙，俏色运用独到，富有水墨、江南艺韵，将工艺与艺术很好的融为了一体。代表作品《喜事连连》《喜报三元》等</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/images/hetianyu.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b chinese-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer landing-hr-bold">
                <div class="clearfix"></div>
                <h2 class="section-heading">玉雕名家二<br>江苏省玉石雕刻大师</h2>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;性情之人，尽兴、随性，作品却细腻温婉，写意自然，意境柔美，玉界有“花鸟传情”的美誉。代表作品《素面平安牌》《喜报三元》</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/images/hetianyu.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">玉雕名家三<br>苏州玉雕工艺美术大师</h2>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;其作品构思巧妙，俏色运用独到，富有水墨、江南艺韵，将工艺与艺术很好的融为了一体。代表作品《喜事连连》《喜报三元》等</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/images/hetianyu.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->


