@{
    Layout = null;   
}

@using (Ajax.BeginForm("QueryBySerialNumber", "Home",new AjaxOptions { OnSuccess = "renderCustomerList" }))
{
    <div class="control-group form-group">
        <div class="controls">
            <label>证书编号</label>
            <input type="text" class="form-control" name="serialNumber" placeholder="请输入证书编号">
            <p class="help-block"></p>
        </div>
    </div>
    <div id="success"></div>
                        <!-- For success/fail messages -->
    <button type="submit" class="btn btn-primary">查询</button>
}
