@{
    Layout = "../Shared/_Layout.cshtml";
}
<div>
    <div class="container">
        <!-- Team Members -->
        @model List<DataAccessLayer.Model.Production>
        <div class="row products">
            <div class="col-lg-12">
                <h2 class="page-header landing-hr">作品集</h2>
            </div>

            @foreach (var production in Model)
            {
                <div class="col-xs-12 col-md-3 pb-2x">
                    <div class="photo-item">
                        <div class="thumbnail" id="@production.Id">
                            <img src="@production.Images.First().ImageAddress" alt="image" />
                            <div class="hover-mask">
                                <div class="item-title">@production.Name</div>
                                <p>@production.Description</p>
                            </div>
                        </div>

                    </div>

                </div>
            }

        </div>
    </div>
</div>
<style>
    .col-md-4 {
        margin: 10px 0 !important;
    }
</style>
