@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
    <div class="container content-lg">
        <h2>证书查询</h2>
        <hr class="landing-hr-bold-grey" />
        <div class="title-v1">
            <p class="bg-primary">
                我们对在品玉屋所购买的玉作提供证书查询服务。
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8">
                        @Html.Partial("ProductQueryPartial")
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <h4 class="normal-weight">提示信息</h4>
                            <p class="normal-weight">1.请输入证书上的证书编号</p>
                            <p class="normal-weight">2.如果未查到预期信息或者信息有误请即时 @Html.ActionLink("联系我们", "Contact", "Home")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function renderCustomerList(data) {
        $("#productResult").html(data);
    }
</script>

<style>
    .normal-weight {
        font-weight: normal;
    }
</style>
