@{
    Layout = "../Shared/_Layout.cshtml";
}
@*<form class="form-horizontal text-center">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="productId">证书编号</label>
            <div class="col-sm-10">
                @Html.TextBox("productId", "", new { @class = "form-control", @placeholder = "输入证书编号" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </div>
    </form>*@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">证书查询</h1>
            <div class="row">
                <div class="col-sm-8">
                    @Html.Partial("ProductQueryPartial")

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function renderCustomerList(data) {
        $("#productResult").html(data);
    }
</script>
