@model DataAccessLayer.Model.Production
<div>
    @if (Model != null)
    {
        <div class="row">
            <div class="col-lg-5">
                <img src="@Model.Images.First().ImageAddress" />
            </div>
            <div class="col-lg-5">
                <div>@Model.Name</div>
            </div>
        </div>


    }
    else
    {
        <div>No result found.</div>
    }
</div>
